# Ignore OS-Specific files
.DS_Store

# Ignore generated datasets
4_Datasets/*
!4_Datasets/.gitkeep

# Ignore generated python files
*/__pycache__/*

# Ignore Results folders
5_Results/Computed/*
!5_Results/Computed/.gitkeep
5_Results/Display/*
!5_Results/Display/.gitkeep
5_Results/Metrics/*
!5_Results/Metrics/.gitkeep